@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    font-family: 'Raleway', open-sans;
    transition: all 1s ease-out;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}
.search-container {
    display: flex;
    justify-content: center;
    margin: 50px 500px;
}
h1{
    text-align: center;
    font-size: 90px;
}
#search-results {
    display: flex;
    justify-content: space-around;
}
#search-results img{
    width: 200px;
}
#search-input {
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 8px;
}
#search-input:focus{
    outline: none;
}
#search-button {
    position: relative;
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border: 1.5px solid var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#search-button::before {
  background: var(--text-color);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
#search-button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
#search-button:hover{
    color: var(--background-color);
}
.result{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 20px;
}
.result a{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    text-decoration: underline;
    color: var(--text-color);
}
.feeling-lucky{
    margin-bottom: 30px;
    border: none; 
    border: 2.5px solid var(--text-color); 
    background: transparent; 
    font-size: 24px;
    color: var(--text-color); 
    padding: 15px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}
.feeling-lucky:hover{
    transform: translate(10px, -10px);
}
#toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}